@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: url('./assets/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Inter', sans-serif;
}

.font-audiowide {
  font-family: 'Audiowide', cursive;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Анимация для плавного появления элементов */
.animationShift {
    transition: all 0.8s ease;
}

.tr-delay {
    transition-delay: 0.4s;
}

.startShift {
    transform: translateY(50px);
    opacity: 0;
}

.endShift {
    transform: translateY(0);
    opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
